* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arvo";
}
@font-face {
  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format("woff2");
  font-display: swap;
}

.container {
  height: 100vh;
  width: 100vw;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: 1;
  overflow-x: scroll;
  display: flex;
  background-image: url("public/Background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: bottom left;
  will-change: scroll-position;
}
h1 {
  backdrop-filter: blur(10px);
  font-size: 5vh;
  width: fit-content;
  padding: 0;
  margin: 0;
}
.page {
  position: relative;
  height: 100vh;
  min-width: 100vw;
  display: grid;
  scroll-snap-align: center;
  color: white;
  will-change: contents;
  overflow-y: scroll;
}
.content {
  position: absolute;
  top: 20%;
  left: 4%;
  width: fit-content;
  height: fit-content;
  z-index: 0;
  will-change: scroll-position;
}
.aboutme {
  background: black;
}

.writing {
  position: absolute;
  top: 10vh;
  left: 10vw;
  right: 5vw;
}

.previous {
  place-self: start;
  position: absolute;
  top: 50%;
  left: 2vw;
  z-index: 1;
}
.next {
  place-self: end;
  position: absolute;
  top: 50%;
  right: 2vw;
  z-index: 1;
}
.hidden {
  opacity: 0;
  filter: blur(20px);
  transition-delay: 500ms;
  transition: 800ms;
  will-change: contents;
}
.subsection {
  background-color: white;
  color: black;
  margin-bottom: 5vh;
}
.subsection img {
  margin: 5px;
}
.show {
  opacity: 1;
  filter: blur(0);
}
